<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Canvi</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <h1 class="">Welcome to Projeto Canvi</h1>
    <div>
        <% if (locals.message) { %g>
            <p><%= message %></p>
        <% } %>
    </div>
</body>
</html>