<nav class="bg-orange-200 px-8 py-2 text-white flex justify-between items-center">
  <a href="/">
    <div class="flex items-center justify-center space-x-4">
      <img src="logo.png" alt="logo site" class="w-25" />
      <div>
        <h1 class="text-4xl text-amber-900 font-bold">Amor em Patas</h1>
        <p class="text-orange-400 font-semibold">Doar é um gesto pequeno para você, mas imenso para eles!</p>
      </div>
    </div>
  </a>

  <ul class="flex gap-4">
    <li><a href="/" class="hover:underline">Início</a></li>
    <li><a href="/sobre" class="hover:underline">Sobre</a></li>
    <li><a href="/contato" class="hover:underline">Contato</a></li>
  </ul>
</nav>
